<style>
  .title {
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    margin-top: 1rem;
    /* Base size for small screens */
  }

  /* Medium screens */
  @media (min-width: 640px) {
    .title {
      font-size: 7rem;
    }
  }

  /* Large screens */
  @media (min-width: 768px) {
    .title {
      font-size: 7rem;
    }
  }

  /* Extra large screens */
  @media (min-width: 1024px) {
    .title {
      font-size: 7rem;
    }
  }

  /* 2XL screens */
  @media (min-width: 1280px) {
    .title {
      font-size: 8rem;
    }
  }
</style>

<head>
  <style>
    /* Default styles for the Sign In button */
    .sign-in-button {
      padding: 10px 10px;
      font-size: 16px;
      
    }
  
    /* Media query for smaller screens */
    @media (max-width: 640px) {
      .sign-in-button {
        padding: 5px 8px !important; /* Smaller padding */
        font-size: 12px !important;  /* Smaller font size */
      }
    }
  </style>
  
  <div class="relative flex flex-col justify-center items-center w-full">
    <span class="title text-2xl sm:text-6xl md:text-6xl lg:text-7xl xl:text-8xl font-bold mb-4 mx-auto">
      just-do-It
    </span>
    <div class="">
      <button class="text-white font-bold rounded-lg sign-in-button" style="background-color: #ff0000;">
        <a href="/signout"> Sign Out</a>
      </button>
    </div>
  </div>
  
  

</head>

</body>

</html>